.App-start .component {
  padding: 1rem;
  color: blue;
  border: 5px solid blue;
}

.App-start .component.red {
  padding: 1rem;
  color: red;
  border: 5px solid red;
}

.App-start .component.yellow {
  padding: 1rem;
  color: yellow;
  border: 5px solid yellow;
}

.App-start .component.green {
  padding: 1rem;
  color: green;
  border: 5px solid green;
}