.App-end .profile {
  border: 3px solid blue;
  color: blue;
  border-radius: 20px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.App-end .profile p {
  font-size: 1.3em;
}
.App-end .profile.red {
  border: 3px solid red;
  color: red;
}
